@charset "UTF-8";

.main {
    margin : 30px ;
    padding : 20px ;
    border : 5px solid maroon ;
    background-color : lightgreen ;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
 
.video-wrapper {
	max-width: 100%;
}